<p>
    <b>Name: </b><span>@CurrentContact.FirstName @CurrentContact.LastName</span><br />

    @if(DisplayEmail)
    {
        <b>Email: </b><i>@CurrentContact.Email</i>
    }

    <br />
    @if (displayInfo)
    {
        <span>The email address of @CurrentContact.FirstName @CurrentContact.LastName is @CurrentContact.Email</span>
    }

    <br />
    <button class="btn btn-primary" @onclick="@(() => {displayInfo = !displayInfo;})">Show Info</button>
    <button class="btn btn-primary" @onclick="@(()=> DeleteCurrentContact.InvokeAsync(CurrentContact))">Delete Contact</button>
    
</p>

@code {
    [Parameter]
    public Contact CurrentContact { get; set; }

    [Parameter]
    public bool DisplayEmail { get; set; }

    [Parameter]
    public EventCallback<Contact> DeleteCurrentContact { get; set; }

    private bool displayInfo = false;
}
